# Origin backend API (tanpa proxy Vite)
# Dev default di code: https://api-inventory.isavralabel.com/pos-multicabang
# Isi ini jika backend beda host/domain
VITE_API_URL="https://api-inventory.isavralabel.com/pos-multicabang"
